
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, rawline, Rawline, serif;
}

body, html {
    height: 100%;
}

body {
    background: url('images/Redesign-Ecac-modo-branco.png') no-repeat center center;
}


.svg_icons {
    width: 1.5em;
    height: 1.5em;
}
   
.other-icons{
    display: flex;
    gap: 10px;
    align-items: center;
}
div.top-icons {
    display: flex;
    gap:10px;
    align-items: center;
}

.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; /* menu sempre fique por cima */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-menu .logo img {
    height: 40px;
}

.top-menu nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.top-menu nav ul li {
    display: inline;
}

.top-menu nav ul li a {
    text-decoration: none;
    color: #0073e6;
    font-size: 16px;
}

.top-menu nav ul li a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    width: 96%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding: 20px;
    min-height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Tamanho máximo fixo */
    width: 180px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}

.form-section h2 {
    color: #444;
    margin-bottom: 20px;
    text-align: left;
    font-size: large;
}
.form-section h3 {
    color: #444;
    margin-bottom: 10px;
    text-align: left;
    font-size: medium;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #444;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-style: italic;
}

.forgot-password {
    margin-bottom: 20px;
    text-align: left;
}

.forgot-password a {
    color: #0073e6;
    text-decoration: none;
}

.forgot-password a {
    text-decoration:none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.cancel-btn, .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-btn {
    background-color: #ffffff;
    color: #0073e6;
    border: 1px solid #0073e6;
    width: 45%;
    font-weight: bold;
}

.submit-btn {
    background-color: #0073e6;
    color: white;
    width: 45%;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #005bb5;
}

.other-options {
    margin-top: 40px;
    text-align: left;
}

.other-options h4 {
    color: #444;
    margin-bottom: 10px;
    text-align: left;
}

.other-options ul {
    list-style-type: none;
    padding: 0;
}

.other-options ul li {
    margin-bottom: 10px;
}

.secondary {
    color: #727272;
    text-decoration: none;
}

.bank{
    font-weight: bolder;
    text-decoration: none;
    color: #008C32;
 }

 .silver{
    background-color: #008C32;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: lighter;
 }

 .identify {
    margin-bottom: 25px;
    margin-top: -5px;
    border: none;           
    height: 1px;            
    background-color: #000000;        
    width: 100%;
 }

 .forget{
    margin-bottom: 25px;
    margin-top: -2px;
    border: 1px;           
    height: 1px;                   
    width: 153px;
    background-color:#727272;
 }

footer {
    text-align: center;
    margin-top: auto; /* Faz o footer ficar na parte inferior do container */
    padding-top: 20px;
}

footer p {
    margin: 10px 0;
}

footer p a {
    color: #0073e6;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1300px) {
    body {
        background: none; /* Remove a imagem de fundo pra telas menores */
    }

    .container {
        padding: 0;
    }

    .login-container {
        width: 90%; 
        padding: 20px;
        min-height: 80vh;
    }
    
}
